#team-container {
  width: 800px;
  height: 800px;
  display: flex;
}

#team-container h1 {
  text-align: center;
  display: block;
}

.img-div {
  width: 100px;
  height: 100px;
  background-size: cover;
  justify-content: space-evenly;
}